body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:radial-gradient(circle,#6b0f1a,#3b0008);
font-family:Georgia,serif;
overflow:hidden;
}

/* ENVELOPE */

.envelope{
width:360px;
height:250px;
background:#8b1d24;
position:relative;
border-radius:6px;
box-shadow:0 20px 40px rgba(0,0,0,0.5);
}

.flap{
position:absolute;
top:0;
width:100%;
height:100%;
background:#a1242b;
clip-path:polygon(0 0,50% 55%,100% 0,100% 100%,0 100%);
transform-origin:top;
transition:0.8s;
z-index:4;
}

.seal{
position:absolute;
top:105px;
left:50%;
transform:translateX(-50%);
background:#e6d2a3;
width:80px;
height:80px;
border-radius:50%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-weight:bold;
cursor:pointer;
box-shadow:0 0 10px rgba(0,0,0,0.4);
z-index:5;
}

/* SCROLL */

.scroll{
position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%) translateY(120%);
width:320px;
background:linear-gradient(#f7e8c9,#e9d4a6);
padding:30px;
border-radius:10px;
box-shadow:0 0 20px rgba(0,0,0,0.4);
text-align:center;
transition:1s;
}

.scroll h1{
margin-top:0;
color:black;
font-family:cursive;
}

/* TYPING */

#typedText{
min-height:220px;
font-size:17px;
line-height:1.6;
}

/* FILM STRIP */

.film-strip{
margin-top:30px;
background:#111;
padding:10px;
border-radius:6px;
display:flex;
flex-direction:column;
gap:15px;
}

.film-strip img{
width:100%;
border:6px solid #eee;
background:black;
box-shadow:0 0 10px rgba(0,0,0,0.7);
}

/* OPEN STATE */

.open .flap{
transform:rotateX(180deg);
}

.open .scroll{
transform:translateX(-50%) translateY(0);
}
