*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Georgia, serif;
}

body{
background:#7b0f16;
min-height:100vh;
overflow-x:hidden;
text-align:center;
}

/* ---------- KISSES ---------- */

.kiss{
position:fixed;
font-size:20px;
animation:float 12s linear infinite;
opacity:0.8;
}

@keyframes float{
from{transform:translateY(110vh);}
to{transform:translateY(-120vh);}
}

/* ---------- ENVELOPE ---------- */

#envelopeScreen{
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.envelope{
position:relative;
width:600px;   /* BIG */
height:380px;  /* BIG */
}

.envelope-body{
position:absolute;
width:100%;
height:100%;
background:#b51219;
border-radius:12px;
}

.flap{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:#9c0f15;
clip-path:polygon(0 0, 100% 0, 50% 60%);
transform-origin:top;
transition:1.2s ease;
}

.envelope.open .flap{
transform:rotateX(180deg);
}

#seal{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:80px;
height:80px;
border-radius:50%;
background:radial-gradient(circle,#f7b5b5,#d48a8a);
border:none;
font-size:18px;
cursor:pointer;
box-shadow:0 6px 20px rgba(0,0,0,0.5);
z-index:2;
}

/* ---------- LETTER ---------- */

#letterContainer{
display:none;
padding-top:80px;
}

#letter{
background:#ecd9bc;
width:650px;
max-width:90%;
margin:auto;
padding:60px;
border-radius:6px;
box-shadow:0 20px 40px rgba(0,0,0,0.5);
}

#title{
font-size:34px;
margin-bottom:35px;
}

#text p{
font-size:18px;
line-height:1.8;
margin-bottom:20px;
}

/* ---------- PHOTOS ---------- */

#photos{
display:none;
margin:70px auto;
justify-content:center;
gap:50px;
flex-wrap:wrap;
}

.polaroid{
background:#ecd9bc;
padding:12px 12px 35px;
width:230px;
box-shadow:0 15px 30px rgba(0,0,0,0.4);
position:relative;
}

.polaroid img{
width:100%;
height:260px;
object-fit:cover;
}

.tape{
width:90px;
height:28px;
background:rgba(255,255,255,0.7);
position:absolute;
top:-14px;
left:50%;
transform:translateX(-50%);
border-radius:4px;
}

.left{transform:rotate(-6deg);}
.center{transform:rotate(4deg);}
.right{transform:rotate(-3deg);}
